body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: "M PLUS Rounded 1c", system-ui;
}

.widget {
    min-width: 400px;
    display: flex;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(200%);
}

.toast.visible {
    opacity: 1;
    transform: translateX(0);
}

.toast.hidden {
    opacity: 0;
    transform: translateX(200%);
}

.date-info {
    text-align: center;
    margin-right: 20px;
    width: 40%;
    align-self: center;
}

.date-info div {
    margin: 5px 0;
}

.date-info .year-month,
.date-info .day-of-week {
    color: #6a5a5a;
    font-size: 14px;
    font-family: "M PLUS Rounded 1c", system-ui;
}

.date-info .day {
    font-size: 48px;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", system-ui;
    color: #5a4a4a;
}

.progress-bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.progress-bar {
    margin: 5px 0;
}

.progress-bar-title {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: "M PLUS Rounded 1c", system-ui;
    color: #6a5a5a;
}

.progress-bar-inner {
    position: relative;
    height: 4px;
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 10px;
}

.day-bar {
    background: #f7796c;
}

.month-bar {
    background: #a1de41;
}

.year-bar {
    background: #41ddde;
}
